html {
  /* Set rules to fill background */
  background: url("/../res/Optimized-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;

}

#status{
  margin: 20% auto;
  text-align: center;
}

#fb{
  width: 300px
}

._4z_f {
  text-align: center;
  width: 400px;
}